* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1B262C;
}

.btn {
  width: 90px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  display: flex;
  border: 1.6px solid #395B64;
  border-radius: 4px;
  background-size: 300%;
  transition: all 0.7s;
}

.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}