.container-fluid.empresa-container {
  height: auto;
  width: 80%;
  background-color: #F8F9FA;
  border-radius: 10px;
  border: 2px solid #cacacaaa;
  box-shadow: 2px 2px 10px #b1b2b3;
}

.table.table-border.table-hover {
  height: 250px;
}

.thead {
  background: #729351;
  color: white;
  font-weight: bold;
}

.red {
  color: red;
  background-image: linear-gradient(30deg, white 50%, red 50%);
}

.orange {
  color: orange;
  background-image: linear-gradient(150deg, white 50%, orange 50%);
}

.anadir-area{
  display: flex;
  justify-content: center;
}

.formularioEmpresa{
  width: 750px;
}

.button-container {
  display: flex;
}

.button-container button {
  margin-right: 25px; /* Adjust spacing between buttons as needed */
}