.jumbotron {
  margin-top: 5%;
  margin-bottom: 0;
  background-color: transparent;
  color: #495464
}

.card-number {
  position: relative;
  width: 20rem;
  height: 15rem;
  margin: 0 auto;
  background: #495464;
  border-radius: 1rem;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card-number .information {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number .content-container {
  box-sizing: border-box;
  padding: 20px;
  height: 15rem;
}

.card-number .content-container h2 {
  color: #EEEEEE;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.card-number .content-container p {
  background-color: #EEEEEE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-number .hoverable {
  transition: 0.9s;
  background-image: linear-gradient(45deg, #F4F4F2 0%, #BBBFCA 55%, #495464 120%);
  border-radius: 15px;
}

.card-number .hoverable h2 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  color: #EEEEEE;
  transition: 0.7s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card-number:hover .hoverable {
  height: 3.75rem;
}

.card-number:hover .hoverable h2 {
  font-size: 2rem;
}

.col-6.col-sm-6 {
  margin-top: 3%;
}