* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: #E8E8E8;
    border: 2px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .7s ease;
}

.wrapper.active {
    transform: translateY(120px);
    height: 680px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .6s ease;
    transform: matrix(0);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translatex(400px);
}

.wrapper.active .form-box.register {
    transition: transform .6s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.form-box h2 {
    color: #495464;
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #495464;
    margin: 35px 0;
}

.input-box label {
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-80%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .6s;
    color: #495464;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -8px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #495464;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus::placeholder {
    transition: 0.5s;
    color: transparent;
}

.input-box:focus-within {
    border-bottom: 3px solid #11BFAE;
    /* Apply border color to .input-box on focus */
}

.input-box select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
    color: #495464;
}

::placeholder {
    color: #495464;
}

p .register-link {
    color: #11BFAE;
    text-decoration: none;
}

p .register-link:hover {
    text-decoration: none;
}


.btn#login {
    width: 100%;
    height: 45px;
    background-color: #495464;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.login-register {
    margin-top: 3%;
}

.login-link {
    margin-top: 3%;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    border-radius: 0.25em;
    cursor: pointer;
}

/* <option> colors */
option {
    color: inherit;
    background-color: #F4F4F2;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #E8E8E8 inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #495464;
}